body {
  margin: 0;
  background: #080709;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #e0ceed;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

main {
  min-height: 100%;
  margin-bottom: -50px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #29222e;
  font-size: 24px;
}

.logo {
  display: inline-block;
  padding-left: 50px;
  font-size: 36px;
  color: #b657ff;
}

.name {
  font-family: "Indie Flower", cursive;
}

.logo img {
  vertical-align: middle;
  margin-right: 40px;
}

header nav {
  display: inline-block;
  vertical-align: bottom;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  display: inline-block;
  padding-right: 50px;
  margin-top: 10px;
}

header a {
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

a:link {
  color: #9D72FF;
}

a:visited {
  color: #9D72FF;
}

a:hover {
  background-color: #080709;
}

a:active {
  color: #b657ff;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Delius', cursive;

}

.high-school ul {
  list-style: square;
}

h1 {
  padding-bottom: 16px;
  color: #f5b0ef;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  padding-bottom: 12px;
  color: #8e6da6;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  padding-bottom: 8px;
  font-size: 24px;
}

footer, .push {
  height: 100px;
}
footer {
  background: #29222e;
  font-size: 24px;
}

footer a {
  text-decoration: none;
  border-radius: 10px;
}

footer > * {
  list-style-position: inside;
  padding-left: 50px;
  
}

.contact {
  font-size: 36px;
}

footer ul {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

footer li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 36px;
}

