body {
  margin: 0;
  background: #000028;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #D5C4FF;

}


header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #000048;
  font-size: 24px;
}

.logo {
  display: inline-block;
  padding-left: 50px;
  font-size: 36px;
  color: cyan;
}

.logo img {
  vertical-align: middle;
  margin-right: 40px;
}

header nav {
  display: inline-block;
  vertical-align: bottom;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  display: inline-block;
  padding-right: 50px;
  margin-top: 10px;
}

header a {
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

a:link {
  color: #9D72FF;
}

a:visited {
  color: #9D72FF;
}

a:hover {
  background-color: #000028;
}

a:active {
  color: cyan;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Delius', cursive;

}

.hobbies ul {
  list-style: circle;
}

.high-school ul {
  list-style: square;
}

.blue-jays {
  color: #002D72;
}

h1 {
  padding-bottom: 16px;
  color: #00F79B;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  padding-bottom: 12px;
  color: #00FFAE;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  padding-bottom: 8px;
  font-size: 24px;
}

footer {
  background: #000048;
  font-size: 24px;
}

footer a {
  text-decoration: none;
}

footer > * {
  padding-left: 50px;
}

.contact {
  font-size: 36px;
}

footer ul {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 50px;
  list-style: none;
}

footer li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 36px;
}

